@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.label-font {
      -fx-font-family: 'Press Start 2P', system-ui;
      -fx-font-weight: 400;
      -fx-backgoung: normal;
}

.button-menu:hover {
      -fx-background-color: darkblue;
}

.text_field-font {
      -fx-font-family: 'Press Start 2P', system-ui;
      -fx-font-weight: 400;
      -fx-backgoung: normal;
      -fx-text-fill: #03A8E8;
}

.text_field2-font {
      -fx-font-family: 'Press Start 2P', system-ui;
      -fx-font-weight: 400;
      -fx-backgoung: normal;
      -fx-text-fill: #2352A4;
}

.text_field3-font {
      -fx-font-family: 'Press Start 2P', system-ui;
      -fx-font-weight: 400;
      -fx-backgoung: normal;
      -fx-text-fill: #0495CD;
}